PORT=3000
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.mongodb.net/lowkeydb
API_TOKEN=replace_with_strong_token
BOT_OWNER=+1234567890
SESSION_FILE=./session.json
BOT_NAME=༺𝕷𝖔𝖜𝖐𝖊𝖞 𝕴𝖘 𝕳𝖎𝖒༻ᵀʰᵉ ᵁˡᵗᶦᵐᵃᵗᵘᵐ
XP_PER_MESSAGE=5
